<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width,
        initial-scale=1.0">
        <title>Daniel Kotsi</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1>My Portfolio</h1>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/static/profile-photo.jpg" id="navbar__logo">photo</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/templates/" class="navbar__links">HOME</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/templates/cv.html" class="navbar__links">Cirriculum Vitae</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/templates/projects.html" class="navbar__links">Projects</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/templates/languages.html" class="navbar__links">Languages</a>
                    </li>
                </ul>
            </div>
        </nav>
   
    </body>
</html>
